
#containerBV04 {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

#imgBV04 {
    grid-column: 1 / span 7;
    grid-row: 1 / span 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgLogo04{
    width: 550px;
}

#containerBV04 .caixaTXT {
    grid-row: 2 / span 8;
    color: var(--color01);
}

#btnPPEscolher {
    background-color: var(--color03);
    color: var(--color08);
    font-family: var(--fonte-principal);
    font-weight: var(--peso-negrito);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-top: 1.5rem;;
    font-size: 16px;
    border-radius: 25px;
    transition: transform .2s ease, color .2s ease;
}

#btnPPEscolher:hover{
    transform: scale(1.2);
    background-color: var(--color04);
}

.caixaTXT h1.ttTitulos,
.caixaTXT h2.ttSubtitulos{
    color: var(--color04);
}

/* Estilos responsivos para telas menores */
@media screen and (max-width: 768px){
    #containerBV04{
        width: 90vw;
        height: 900px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        padding-bottom: 1000px; /* Ajuste para evitar corte do conteúdo */
    }

    #imgBV04{
        grid-column: 2 / span 5;
        grid-row: 1 / span 3;
        padding: 50px 0; /* Ajuste para dar mais espaço ao redor da imagem */
        
    }

    #imgLogo04{
        width: 300px;
    }

    #containerBV04 .caixaTXT{
        grid-row: 4 / span 5;
        align-items: center;
        text-align: center;
    }
}

/*Tablet*/
@media screen and (min-width: 769px) and (max-width: 1180px){
    #containerBV04{
        width: 90vw;
        height: 100vh;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }

    #imgBV04{
        grid-column: 1 / span 7;
        grid-row: 1 / span 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #imgLogo04{
        width: 400px;
    }

    #containerBV04 .caixaTXT {
        grid-row: 2 / span 8;
        color: var(--color01);
    }
}

