/* Importando a fonte */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');

/* Variáveis globais definidas em :root */
:root {
  --fonte-titulos: "Palanquin Dark", sans-serif;

  --fonte-principal: "Darker Grotesque", sans-serif;
  --peso-padrao: 500;
  --peso-sub: 450;
  --peso-negrito: 800;

  /* Tamanhos de fonte com rem */
  --tamanho-TXTtitulos:clamp(1.3rem, 4vw, 1.6rem); /*clamp(valorMínimo, valorIdeal, valorMáximo)*/
  --tamanho-TXTsubtitulos: clamp(1.2rem, 3vw, 1.5rem);
  --tamanho-TXTpadrao:clamp(1rem, 2vw, 1.2rem);

   /* Cores */
  --cor-texto: #3a3335;
  --color01:#3a3335;
  --color02:#602505;
  --color03:#b94709;
  --color04:#f15a24;
  --color05:#f7931e;
  --color06:#48736b;
  --color07:#c6d8d3;
  --color08:#f7f7f2;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bloco-titulo {
  line-height: 0.7;        /* diminui o espaçamento entre linhas */
}

.ttTitulos{
    font-family: var(--fonte-titulos);
    font-weight: var(--peso-negrito);
    font-size: var(--tamanho-TXTtitulos);
    color: var(--color03);
    margin-bottom: 0.2rem; /* diminui o espaço abaixo do título */
}

.ttSubtitulos{
    font-family: var(--fonte-principal);
    font-weight: var(--peso-sub);
    font-size: var(--tamanho-TXTsubtitulos);
    color: var(--color03);
    margin-top: 0;
}

.ttPadrao{
    font-family: var(--fonte-principal);
    font-weight: var(--peso-padrao);
    font-size: var(--tamanho-TXTpadrao);
    color: var(--cor-texto);
    text-align: justify;
    margin-top: 1rem;

}