
#containerQS01 {
    width: 80vw;
    height: 77vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

#psImgQS01 {
    grid-column: 1 / span 7;
    grid-row: 1 / span 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgQS01{
    width: 400px;
}

#containerQS01 .caixaTXT {
    grid-row: 2 / span 8;
    color: var(--color08);
}

.caixaTXT h1.ttTitulos,
.caixaTXT h2.ttSubtitulos{
    color: var(--color04);
}

/* Estilos responsivos para telas menores */
@media screen and (max-width: 768px){
    #containerQS01 {
        width: 90vw;
        height: 800px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }

    #psImgQS01{
        grid-column: 1 / span 6;
        grid-row: 2 / span 3;
    }

    #imgQS01{
        width: 300px;
    }

    #containerQS01 .caixaTXT{
        grid-row: 5 / span 5;
        align-items: center;
        text-align: center;
    }
}

