
#containerQS02 {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

#psImgQS02 {
    grid-column: 1 / span 7;
    grid-row: 1 / span 10;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    padding: 0; 
}

#imgQS02{
    width: 570px;
}

#containerQS02 .caixaTXT {
    grid-row: 2 / span 8;
    color: var(--color08);
}

/*Positionando o MVV missao, visao e valores*/
#containerQSMissao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* .mvv{
    width: 100;
    background-color: aquamarine;
} */

.formatMVV{
    width: 180px;
}

.caixaTXT h1.ttTitulos,
.caixaTXT h2.ttSubtitulos{
    color: var(--color04);
}

/* Estilos responsivos para telas menores */
@media screen and (max-width: 768px){
    #containerQS02{
        width: 90vw;
        height: auto;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }

    #psImgQS02{
        grid-column: 1 / span 6;
        grid-row: 7 / span 3;
    }

    #imgLogo04{
        width: 300px;
    }

    #containerQS02 .caixaTXT{
        grid-row: 1 / span 5;
        align-items: center;
        text-align: center;
    }
}

