#containerS03{
    width: 80vw;
    height: 100vh;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 5px;
}

#servicosGrid{
    grid-column: 2 / span 10;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    /*o justify-items está fazendo com que cada card fique de um tamanho. Se voltar os textos precisamos ativar*/
    /* justify-items: center; */
    align-items: start;
    margin-bottom: 4rem;
}
.card-equipe{
    position: relative;
    background: #e8e6e3;
    border-radius: 25px;
    padding: 15px 30px 15px 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    cursor: pointer;
    counter-increment: card;
    opacity: 0;
    transform: translateY(40px);
    transition: all .6s ease;
}

.card-equipe.show{
    opacity: 1;
    transform: translateY(0);
}

.card-decoracao{
    position: absolute;
    left: -30px;
    top: -20px;
}

.card-decoracao img{
    width: 120px;   /* controla tamanho aqui */
    height: auto;
    display: block;
}

.card-conteudo h3{
    color: #f28c1b;
    /* margin-bottom: 10px; */
}

.card-conteudo .ttTitulos{
    text-align: center;
    font-size: 1.3rem;
 
}

.card-conteudo .ttPadrao{
    color: #000000;
    font-size: 1rem;
    /* margin-top: 5rem; */
    padding-bottom: 10px;
       margin-top: 0.1rem;

}


.card-conteudo .ttTitulos.saiba{
    color: #c24b16;
    font-size: 0.8rem;
     display: block;
    text-align: right;

}

/*inicio do modal*/

.modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-wrapper{
    width: 70%;
    max-width: 900px;
    background: white;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
    animation: modalEntrada .4s ease;
}

.modal-left{
    width: 40%;
    background: var(--color01);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    overflow: hidden;
}

.modal-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/* CAIXA DE TEXTO */
.modal-content{
    width: 60%;
    /* padding: 40px;
    position: relative; */
      padding: 3rem;
    width: 600px;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.close-modal{
    position: absolute;
    top: 20px;
    left: 500px;
    font-size: 2rem;
    cursor: pointer;
}

/*TITULO*/
#modalTitulo {

    color: var(--color05);
}


@keyframes modalEntrada{
    from{
        transform: scale(.8);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

body.modal-open{
    overflow: hidden;
}
/*fim do modal*/

/*Responsivo*/

@media (max-width: 992px){
   #containerS03{
        width: 90vw;
        height: auto;
        min-height: 100vh;
        grid-template-columns: repeat(6, 1fr);
    }

    #servicosGrid{
        grid-column: 1 / span 6;
        grid-template-columns: 1fr;
        gap: 70px;
        margin-top: 6rem;
    }
}

@media (max-width: 600px){

    .card-equipe{
        padding: 40px 25px 30px 25px;
    }

    .card-numero{
        position: relative;
        left: 0;
        top: -30px;
        margin-bottom: -20px;
        width: 90px;
        height: 90px;
    }

    .card-numero::before{
        font-size: 28px;
    }

    .card-conteudo h3{
        font-size: 18px;
    }

    .card-conteudo p{
        font-size: 13px;
    }
}

/*modal responsivo*/
@media (max-width: 768px){

    .modal-wrapper{
        flex-direction: column;
        width: 90%;
        max-height: 90vh;
        overflow-y: auto;
    }

    .modal-left{
        width: 100%;
        height: auto;
    }

    .modal-left img{
        width: 100%;
        height: auto;   /* AQUI está a correção */
        object-fit: contain;
    }

    .modal-content{
        width: 100%;
        padding: 30px 20px 40px 20px;
    }

    .close-modal{
    left: 580px;

}
}
